# ignore everything by default, but if a directory is whitelisted the entire content becomes whitelisted
/*

# in order to add something to the git repo, just whitelist it
!.gitignore
!LICENSE
!/neofetch

!/nvim
/nvim/plugged/*
/nvim/.netrwhist

!/starship

!/alacritty

!/bashtop

!/fish
